.answers-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 10px;
    border: 1px solid var(--main-border-color);
    border-radius: var(--main-border-radius);
}

.answer-question {
    font-size: 25px;
    color: var(--main-text-color);
}

.answer-item {
    display: flex;
    margin-bottom: 15px;
    transition: all .4s ease-in-out;
}

.answer-item.selected {
    outline: 2px solid var(--main-border-color);
    border-radius: var(--main-border-radius);
}

.answer-text {
    cursor: pointer;
    color: var(--main-text-color);
}