.header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 600px;
    height: var(--main-header-height);
    background-color: var(--main-header-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0 0 15px 15px;
    z-index: 1;
}

.header-home-img {
    width: 20px;
    background-color: transparent;
}

.header-link {
    background-color: var(--main-border-color);
    padding: 7px;
    border-radius: 4px;
    text-decoration: none;
    color: var(--main-link-color);
}

@media all and (max-width: 650px) {
    .header-container {
        min-width: initial;
    }
}


@media all and (max-width: 500px) {
    .header-container {
        display: grid;
        grid-template-columns: 30% 30%;
    }

    .header-link {
        text-align: center;
    }
}

@media all and (max-width: 375px) {
    .header-container {
        grid-template-columns: auto;
    }

    .header-link {
        margin-bottom: 15px;
    }

    .link-with-img {
        margin-bottom: initial;
    }
}