.info-cell {
    display: flex;
    outline: 1px solid var(--main-border-color);
    margin: 10px 0;
    padding: 7px;
    border-radius: var(--main-border-radius);
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.reversed {
    flex-direction: row-reverse;
}

.cell-img {
    --sizeWH: 35%;
    width: var(--sizeWH);
    height: var(--sizeWH);
    border-radius: var(--main-border-radius);
}

a.linkInText {
    color: #d5d0f3;
    text-decoration: none;
    text-shadow: 1px 1px 6px #d5d0f3;
    transition: all .2s ease-in-out;
}

a.linkInText:hover {
    color: #403b59;
}

@media all and (max-width: 650px) {
    .info-cell {
        flex-direction: column;
    }

    .cell-img {
        --sizeWH: 48%;
    }

    .main-content>.info-cell {
        width: 90%;
    }
}