* {
  background-color: #403B59;
}


:root {
  --main-header-color: #272241;
  --main-header-height: 70px;
  --main-border-color: #726d8d;
  --main-border-radius: 20px;
  --main-text-color: #D5D4DE;
  --main-link-color: #c2bcfa;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #d5d4de73;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: #726d8d;
  border-radius: 10px;
  transition: all .4s ease-in-out;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background: #5e5884;
}

@media all and (max-width: 500px) {
  :root {
    --main-header-height: 130px;
  }
}

@media all and (max-width: 375px) {
  :root {
    --main-header-height: 210px;
  }
}